/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e1f5fe; /* Fondo azul claro */
    color: #333;
}

h1, h2, h3 {
    color: #0277bd; /* Color azul para los encabezados */
}

a {
    color: #0277bd; /* Color de los enlaces */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Personalización de imágenes */
img {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Pie de página */
footer {
    background-color: #01579b;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}
